CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
cmake-build-debug
cmake-build-debug2
cmake-build-default
build
output
test
build_OMP
Profiler
CudaBuild
.idea/*

