<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="TrackerMapper" type="CMakeRunConfiguration" factoryName="Application" PROGRAM_PARAMS="../../Datasets/living_room_traj1_frei_png/ 1000 0 1 100" PASS_PARENT_ENVS_2="true" PROJECT_NAME="MT_ObjSLAM" TARGET_NAME="TrackerMapper" CONFIG_NAME="OMP" RUN_TARGET_PROJECT_NAME="MT_ObjSLAM" RUN_TARGET_NAME="TrackerMapper">
    <method />
  </configuration>
</component>